<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="lab4.Properties.Settings.visit_lecturesConnectionString"
            connectionString="server=localhost;user id=root;password=1234;persistsecurityinfo=True;database=visit_lectures"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>